# Frontend Configuration
VITE_FRONTEND_PORT=7000
VITE_BACKEND_URL=http://localhost:7001/api
VITE_MINIO_URL=https://starfoodbanquet.com/minio/starbanquet/


# Production Configuration
# VITE_BACKEND_URL=https://admin.starfoodbanquet.com/api
# VITE_MINIO_URL=https://starfoodbanquet.com/minio/starbanquet/
BACKEND_PORT=7001

# ========== MongoDB Configuration (Cloud - MongoDB Atlas) ==========
# Use your MongoDB Atlas connection string
# Format: mongodb+srv://username:password@cluster.mongodb.net/database_name?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://starbanquet:Supreme%40123%23@cluster0.ebmt1nl.mongodb.net/?appName=Cluster0

# ========== MinIO Configuration (Cloud) ==========
# Use your cloud MinIO/S3 compatible storage endpoint
MINIO_ENDPOINT=88.222.242.12
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=toshyacompany
MINIO_SECRET_KEY=toshyacompany
MINIO_BUCKET=starbanquet

