MONGODB_URI="mongodb+srv://starbanquet:Supreme%40123%23@cluster0.ebmt1nl.mongodb.net/?appName=Cluster0"
PORT=7001

# MinIO Storage Configuration
MINIO_ENDPOINT=88.222.242.12
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=toshyacompany
MINIO_SECRET_KEY=toshyacompany
MINIO_BUCKET=starbanquet